black==25.1.0
cachetools==6.2.0
chardet==5.2.0
click==8.2.1
colorama==0.4.6
distlib==0.4.0
filelock==3.19.1
iniconfig==2.1.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.2
pyproject-api==1.9.1
pytest==8.4.2
tox==4.30.2
virtualenv==20.34.0
websockets==15.0.1
